.category-popup {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 10px;

  &__form {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  &__form-row {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  &__input {
    display: flex;
    flex-grow: 1;
    margin-top: 2px;
    padding: 5px;
  }
  &__validate-message {
    color: red;
    padding: 10px;
  }
}
