.content {
  margin: 0 auto;
  padding: 15px;
  flex-grow: 1;
  max-width: 1366px;
  // background-color: #dbf0ff;
  background-color: #e3f1fc;
  // li:nth-of-type(2) {
  //   background-color: aquamarine;
  // }
  &__content-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &__content-header-button {
    padding: 0 20px;
  }
  &__list {
    list-style-type: none;

    // ul:nth-child(2n) {
    //   background-color: aquamarine;
    // }
  }
  &__list > li:nth-child(2n) {
    background-color: #e3e9f2;
  }
  &__list > li:nth-child(2n + 1) {
    background-color: #c9d4e2;
  }
}
